<div class="container">
  <% title "Vendor Registrations" %>

  <table class="datatable" class="display" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Organization name</th>
        <th>Contact</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Total</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @vendor_registrations.each do |vendor_registration| %>
        <tr <%= vendor_registration.paid? ? "" : "style=background:#ffc6af;" %>>
          <td><%= vendor_registration.organization_name %></td>
          <td><%= vendor_registration.contact %></td>
          <td><%= vendor_registration.email %></td>
          <td><%= vendor_registration.phone %></td>
          <td><%= vendor_registration.total %></td>
          <td><%= link_to 'Show', vendor_registration %></td>
          <td><%= link_to 'Edit', edit_vendor_registration_path(vendor_registration) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Vendor registration', new_vendor_registration_path %>
</div>