<style type:"text/css">
BODY
{
background-color: #deddd2;
}
</style>
<%= link_to("http://juliarobinsonmathfestival.org/") do %>
  <%= image_tag("jrmf-logo.png")%>
<% end %>
</br>

<h2>COSI &mdash; May 4th, 2014 &mdash; 12pm to 3pm &mdash; Grades 5-9 </h2>


<div class="description">
  This mathematics festival is open to students in grades 5-9 and will take place 12:00pm - 3:00pm on Sunday, May 4th, 2014. It will be held at COSI's Gallery 1. <a href="http://www.cosi.org/events/weddings/directions-parking" target="_blank">Look here for directions</a>.
  <br><br>
  The event's collaborative, non-competitive atmosphere offers an alternate setting for students to explore the joys and power of mathematics with other kids and older mentors.
  <br><br>
  <div class="row">
    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
      <strong>How it works:</strong><br />
      During the festival, students can join any table and work collaboratively with the volunteers and students there. Students are welcome to try out several tables until they find one that particularly interests them; once they do, they are encouraged to spend 30 &#8211; 45 minutes or more at that activity. Almost no activities will be possible to finish completely during the festival. Students will be able to take home activities that they have spent time on. There will also be a mathematical games area.
      We provide the mathematics and mathematicians to work with the students on the activities. Please bring an adult to provide supervision of your children/students. Admission for kids is $10; supervising adults are free. If you can't afford the fee, there is a checkbox at the bottom of the form to waive it.
      <br><br>
      Registration at the door is $20.
    </div>
    <div style="text-align:center;" class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
      <iframe src="//www.youtube.com/embed/Idow6vKyaXg?rel=0" height="315" width="560" allowfullscreen="" frameborder="0"></iframe>
    </div>
  </div>
  <br><br>
  If you have any questions, please contact us at events@enrichcolumbus.org
</div>

  <h3>Register to Attend</h3>

<%= simple_nested_form_for @registration, wrapper: false do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class="col-lg-6">
      <%= f.input :school_name, label: "School Name or Home School" %>
    </div>
    <div class="col-lg-4">
      <%= f.input :contact_email, label: "Email for confirmation to be sent to..." %>
    </div>
  </div>
</br>
  <div class="reg_table">
    <h3>Students</h3>
    <table class="reg_form" id="students">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Grade Level</th>
        <th></th>
      </tr>
      <%= f.fields_for :students, wrapper: false do |student_form| %>
        <tr class="add_student fields">
          <td><%= student_form.hidden_field :id %><%= student_form.input :first_name, label: false %></td>
          <td><%= student_form.input :last_name, label: false %></td>
          <td><%= student_form.input :grade, collection: Student::GRADES, label: false %></td>
          <td>
            <%= student_form.link_to_remove do %>
              <i class="glyphicon glyphicon-remove close"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
    <p><%= f.link_to_add "Add a student", :students, :data => { :target => "#students" }, class: "btn btn-xs btn-warning", id: "add_student" %></p>
  </div>
  <div class="reg_table">
    <h3>Parents</h3>
    <table class="reg_form" id="parents">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Role</th>
        <th>Email</th>
        <th>Volunteer?</th>
        <th></th>
      </tr>
      <%= f.fields_for :parents, wrapper: false do |parent_form| %>
        <tr style="margin-top:20px;" class="fields">
          <td><%= parent_form.hidden_field :id %><%= parent_form.input :first_name, label: false %></td>
          <td><%= parent_form.input :last_name, label: false %></td>
          <td><%= parent_form.input :role, collection: Parent::ROLES, label: false %></td>
          <td><%= parent_form.input :email, label: false %></td>
          <td><%= parent_form.input :volunteer, collection: Parent::VOLUNTEER, label: false %></td>
          <td>
            <%= parent_form.link_to_remove do %>
              <i class="glyphicon glyphicon-remove close"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
    <p><%= f.link_to_add "Add a parent", :parents, :data => { :target => "#parents" }, class: "btn btn-xs btn-warning" %></p>
  </div>

  <div class="row">
    <div class="col-lg-8">
    <h2>Payment</h2>
    <fieldset>
      <p>The registration fee for this event is $10 PER STUDENT.</p>

      <p>If you are financially unable to pay the registration fee, you may request to have your registration fee waived. Your registration will still be accepted and the students can still attend the event.</p>

      <p><%= f.input :fee_waiver, label: false, inline_label: "Check this box to request a registration fee waiver." %></p>

      <p>
        Please alert us to any mobility issues, or
        other special needs we should be aware of.
        Also feel free to include any comments: <br>
        <div class="row">
          <div class="col-lg-7">
          <%= f.input :comments, label: false, input_html: { rows: 4 } %>
          </div>
        </div>
      </p>

        <p>
          <%= f.input :consent, label: false, inline_label: "Children under 18 require consent from parent or guardian to fill out this form. Check this box if you have their consent." %>
        </p>

        <%= f.input :event_id, as: :hidden, input_html: { value: 2 } %>
        <%= f.input :student_count, as: :hidden %>
        <%= f.input :stripe_card_token, as: :hidden %>
        <%= f.input :total, as: :hidden %>
    </div>
    <div class="col-lg-4">
        <%= render 'credit_card_info' %>
      </br>
      </br>
        <%= f.submit "Submit Registration", class: "btn-lg btn-success", id: "submit_registration" %>
    </div>
  </div>
<% end %>
<hr>
<div class="sponsors">
  <h1 style="text-align:center;">Sponsors</h1>
  </br>
  </br>
  <div class="row">
    <div style="text-align:center;" class="col-lg-4">
      <%= link_to("http://www.cosi.org/") do %>
        <%= image_tag("COSI_Logo.jpg", width: "250")%>
      <% end %>
    </div>
    <div style="text-align:center;" class="col-lg-4">
      <%= link_to("http://www.mathplusacademy.com/") do %>
        <%= image_tag("Math_Plus-Logo.png", width: "300")%>
      <% end %>
    </div>
    <div style="text-align:center;" class="col-lg-4">
      <%= link_to("http://www.osu.edu/") do %>
        <%= image_tag("OSU-logo_620x400.png", width: "250")%>
      <% end %>
    </div>
  </div>
</div>