<div class="container">
  <% title "Registrations" %>

  <table class="datatable">
    <thead>
      <tr>
        <th>Event</th>
        <th>School name</th>
        <th>Student count</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @registrations.each do |registration| %>
        <tr>
          <td><%= registration.event.title if registration.event %></td>
          <td><%= registration.school_name %></td>
          <td><%= registration.student_count %></td>
          <td><%= link_to 'Show', registration %></td>
          <td><%= link_to 'Edit', edit_registration_path(registration) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br />

  <%= link_to 'New Registration', new_registration_path, class: "btn btn-lg btn-success" %>
</div>