<div class="container">
  <% title "Expo Registrations" %>

  <table class="datatable" class="display" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Year</th>
        <th>Newsletter</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @expo_registrations.each do |expo_registration| %>
        <tr>
          <td><%= expo_registration.name %></td>
          <td><%= expo_registration.email %></td>
          <td><%= expo_registration.year %></td>
          <td><%= expo_registration.newsletter %></td>
          <td><%= link_to 'Show', expo_registration %></td>
          <td><%= link_to 'Edit', edit_expo_registration_path(expo_registration) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>