<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @expo_registration.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @expo_registration.email %>
</p>

<p>
  <strong>Year:</strong>
  <%= @expo_registration.year %>
</p>

<p>
  <strong>Newsletter:</strong>
  <%= @expo_registration.newsletter %>
</p>


<%= image_tag(@expo_registration.qr_code.remote_url, size: '200') if @expo_registration.qr_code && @expo_registration.qr_code.remote_url %>

<%= link_to 'Edit', edit_expo_registration_path(@expo_registration) %> |
<%= link_to 'Back', expo_registrations_path %>
