<%= simple_form_for(@event) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :contact %>
    <%= f.input :organization %>
    <%= f.input :date, as: :string %>
    <%= f.input :description, input_html: { rows: 5 } %>
    <%= f.input :phone %>
    <%= f.input :address %>
    <%= f.input :city %>
    <%= f.input :state %>
    <%= f.input :zip %>
    <%= f.input :cost %>
  </div>
</br>
  <div class="form-actions">
    <%= f.submit "Add Event", class: "btn-lg btn-success" %>
  </div>
<% end %>
