<% if admin_signed_in? %>
  <%= render 'admin_home' %>
<% else %>
<!-- Full Page Image Header Area -->
<div id="top" class="header">
  <div class="vert-text">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
          <%= image_tag('enrichcolumbus_skyline_clear.png', width: '50%', alt: "enrich.Columbus", class: "hidden-sm hidden-xs", style: "margin-bottom:25px") %>
          <%= image_tag('enrichcolumbus_text.png', size: '738x72', alt: "enrich.Columbus", class: "hidden-sm hidden-xs") %>
          <%= image_tag('enrichcolumbus_skyline_clear.png', width: '40%', alt: "enrich.Columbus", class: "hidden-md hidden-lg", style: "margin-bottom:10px") %>
          <%= image_tag('enrichcolumbus_text.png', width: '90%', alt: "enrich.Columbus", class: "hidden-md hidden-lg") %>
          <h3>Access to Central Ohio's finest list of enrichment activities for kids and young adults.</h3>
          <p>Enter Your Email to Join</p>
          </div>
      </div>
      <div class="row">
        <div class="center">
          <div class="home_page_form">
            <%= render "contacts/form" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Full Page Image Header Area -->
<div id="about" class="intro expo" style="margin-top:0;
                                        -webkit-box-shadow: inset 0 1px 1px -1px rgba(0,0,0,0.8);
                                        -moz-box-shadow: inset 0 1px 1px -1px rgba(0,0,0,0.8);
                                        box-shadow: inset 0 1px 1px -1px rgba(0,0,0,0.8); ">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <h2 style= "display:inline;font-weight:800;">
          Looking for paper airplane blueprints? <%= link_to "Here's", "http://www.foldnfly.com/" %> some more fun designs!
        </h2>
      </div>
    </div>
  </div>
</div>
<!-- /Full Page Image Header Area -->
<div id="about" class="intro expo" style="margin-top:0;
                                        -webkit-box-shadow: inset 0 1px 1px -1px rgba(0,0,0,0.8);
                                        -moz-box-shadow: inset 0 1px 1px -1px rgba(0,0,0,0.8);
                                        box-shadow: inset 0 1px 1px -1px rgba(0,0,0,0.8);
                                        background:rgb(212, 212, 212);">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <%= image_tag("jrmf.png", size: '300') %><br>
        <h2 style= "display:inline;font-weight:800;">
          Julia Robinson Mathematics Festival Info <%= link_to "Here", new_registration_path %>!
        </h2>
      </div>
    </div>
  </div>
</div>
<!-- Intro -->
<div id="about" class="intro bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <h2>One email. Once a month. <br> Tons of great stuff.</h2>
      </div>
    </div>
  </div>
</div>
<!-- /Intro -->

<!-- Intro -->
<div id="about" class="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <h2>Gain access to the largest list of enrichment activities in Central Ohio.</h2>
        <p class="lead">We compile a list each month and then let it  <i class="fa fa-plane"> </i>.</p>
      </div>
    </div>
  </div>
</div>
<!-- /Intro -->

<!-- Services -->
<div id="services" class="services">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4 text-center">
        <h2>Our Goals</h2>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-md-offset-2 text-center">
        <div class="service-item">
          <i class="service-icon fa fa-globe"></i>
          <h4>Spread The Word</h4>
          <p>We're trying to get the word out to make sure everyone is in tune with what's going on.</p>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="service-item">
          <i class="service-icon fa fa-users"></i>
          <h4>Build Community</h4>
          <p>Our children are our future and exposing them to the most enlightening activities is a good way to ensure a bright one.</p>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="service-item">
          <i class="service-icon fa fa-book"></i>
          <h4>Learn</h4>
          <p>Knowledge is happiness.</p>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="service-item">
          <i class="service-icon fa fa-smile-o"></i>
          <h4>Have Fun</h4>
          <p>Happiness is happiness!</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Services -->

<!-- Callout -->
<div class="callout">
  <div class="vert-text">
    <h1>One Email Once A Month</h1>
  </div>
</div>
<!-- /Callout -->

<!-- Call to Action -->
<div id="eventregistration" class="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <h2>Have some events to share?</h2>
        <h2><%= mail_to "events@enrichcolumbus.org", "Tell us about them!" %></h2>
      </div>
    </div>
  </div>
</div>
  <!-- /Call to Action -->
<% end %>
