<%= simple_form_for @contact do |f| %>
<% if @contact.errors.any? %>
    <%= f.error_notification %>
<% end %>
  <p><%= f.input :first_name, placeholder: "First Name", label: false %></p>
  <p><%= f.input :last_name, placeholder: "Last Name", label: false %></p>
  <p><%= f.input :email, placeholder: "Email Name", label: false %></p>
  </br>
  <%= f.submit 'Join The Fun', class: "btn-lg btn-success" %>
<% end %>
