<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Enrich.columbus" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= yield(:head) %>
  </head>
  <body>
    <%= render 'layouts/flash_message' %>

    <%= render 'layouts/side_menu' %>

    <%= content_tag :h1, yield(:title) if show_title? %>

    <%= yield %>

    <%= render 'layouts/footer' %>

    <%= render 'ga' %>

  </body>
</html>
